.vote-container {

    overflow: hidden;
    position: relative;
}
.udv-upvote,
.udv-downvote {
    background: transparent;
    color: #222;
    border: 0;
    padding: 5px;
}
.udv-upvote span,
.udv-downvote span {
    color: #555;
    font-weight:light;
    font-size: inherit;
}
.udv-upvote:hover,
.udv-downvote:hover {
    background: none;
    font-size: larger;
    color: #222;
    padding: 0;

}
.udv-upvote i,
.udv-downvote i {
    position:relative;
    left: -.67em;

} 
.udv-upvote i:before {
    content: "\1F44D";
    font-size: larger;
}
.udv-downvote i:before {
    content: "\1F44E";
}
